
    <div class="dash-board">
      <div class="div">
        <div class="overlap">
          <div class="ios-status-bar-black">
            <div class="overlap-group">
              <div class="BG"><img class="notch" src="/src/app/inicio/img/notch.svg" /></div>
              <div class="right-side">
                <img class="battery" src="img/battery.png" />
                <img class="wifi" src="img/wifi-1.svg" />
                <img class="mobile-signal" src="img/mobile-signal-1.svg" />
              </div>
            </div>
            <img class="left-side" src="img/left-side.png" />
          </div>
        </div>
        <div class="overlap-2">
          <div class="overlap-3">
            <div class="text-wrapper">Sistema de Riego Automático</div>
            <div class="text-wrapper-2">MONITOREO DE PLANTAS</div>
            <img class="succlent-angle" src="img/succlent-angle-2.png" />
            <div class="rectangle"></div>
            <div class="group"><div class="text-wrapper-3">DASHBOARD</div></div>
          </div>
          <div class="text-wrapper-4">Iniciaste sesión</div>
        </div>
        <div class="overlap-4">
          <div class="rectangle-2"></div>
          <div class="text-wrapper-5">Humedad</div>
          <div class="text-wrapper-6">38</div>
          <div class="text-wrapper-5">Humedad</div>
          <div class="text-wrapper-6">38</div>
          <img class="vector" src="img/vector-5.svg" />
        </div>
        <div class="overlap-5">
          <div class="rectangle-2"></div>
          <img class="vector" src="img/vector-6.svg" />
          <div class="text-wrapper-7">Humedad</div>
          <div class="text-wrapper-8">38</div>
        </div>
        <div class="overlap-6">
          <div class="rectangle-2"></div>
          <img class="vector" src="img/vector-7.svg" />
          <div class="text-wrapper-9">Humedad</div>
          <div class="text-wrapper-10">38</div>
        </div>
      </div>
    </div>

